#nav {
  background-color: #1c4060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin-bottom: 2em;
  padding: 10px;

  #nav-title{
    color: grey;
    margin-left: 0.5em;
    font-size: larger;
    font-style: italic;
  }

  #nav-controls{
    display: flex;
    align-content: space-around;
    align-items: center;
    margin-right: 2em;
    color: white;

    #filter-toggle{
      margin-right: 3em;
      margin-left: 1em;
      display: flex;
      justify-content: space-between;
      background-color: white;
      margin-top: 7px;
      margin-bottom: 7px;
      border-radius: 10px;

      #selected{
        background-color: coral;
        padding: 7px;
        border-radius: 10px;
        color: white;
      }

      #not-selected{
        padding: 7px;
        color: black;
      }

      .filter-button:hover{
        cursor: pointer;
      }
    }

    #new-todo-button{
      color: grey;
      border-width: 2px;
      border-color: coral;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: none;
      padding: 5px;
    }

    #new-todo-button:hover{
      color: white;
      cursor: pointer;
    }
  }
}