#nav {
  background-color: #1c4060;
  height: 4em;
  width: 100vw;
  position: fixed;
  z-index: 2;
  
  #nav-title{
    color: white;
    font-size: 17pt;
    font-style: italic; 
    margin: 0;
    margin-left: 2em;
    padding-top: 10px;
  }

  #nav-line-break{
    height: 0.25vh;
    width: 94%;
    background-color: grey;
    margin-left: 3%;
  }

  #nav-controls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2em;
    padding-bottom: 1em;
    background-color: #1c4060;
    margin-top: 1.5em;
    float: right;
    width: 28em;
    height: 14em;
    border-bottom-left-radius: 80px;
    color: white;

    #search{
      display: flex;
      justify-content: space-between;
      align-items: center;

      #search-box-container{
        margin-right: 3em;
        margin-left: 1em;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    #filter-toggle{
      display: flex;
      align-items: center;
      justify-content: space-between;

      #filter-toggle-options{
        margin-right: 3em;
        margin-left: 1em;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
  
        .filter-button-selected{
          background-color: coral;
          padding: 10px;
          border-radius: inherit;
          color: white;
          margin: 0;
        }

        .filter-button-selected:hover{
          cursor: pointer;
        }
  
        .filter-button-not-selected{
          padding: 10px;
          color: black;
          margin: 0;
        }
  
        .filter-button-not-selected:hover{
          cursor: pointer;
        }
      }  
    }

    #new-todo-button{
      color: grey;
      border-width: 2px;
      border-color: coral;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: none;
      padding: 5px;
      width: 19%;
    }

    #new-todo-button:hover{
      color: white;
      cursor: pointer;
    }

  }
}